.metadata
Servers/
.Hibernate_jars/
.Spring_jars/
.Struts_jars/

Java_Training_2021/.classpath
Java_Training_2021/.project
Java_Training_2021/.settings
Java_Training_2021/build
Java_Training_2021/WebContent/WEB-INF/lib
Java_Training_2021/WebContent/js/extjs

Struts_WebApp/.classpath
Struts_WebApp/.project
Struts_WebApp/.settings
Struts_WebApp/build
Struts_WebApp/WebContent/WEB-INF/lib
Struts_WebApp/WebContent/js/extjs

Spring_WebApp/.classpath
Spring_WebApp/.project
Spring_WebApp/.settings
Spring_WebApp/build
Spring_WebApp/WebContent/WEB-INF/lib
Spring_WebApp/WebContent/js/extjs